
conda.enabled = true


// singularity.enabled = true
// process.container = '/n/core/Bioinformatics/analysis/CompBio/boweny/nf-Pipeline/nextflow-GenomeIndex_Ver_4/assets/singularity_roboindex.sif'
// singularity.autoMounts = true

profiles {
    standard {
        process.executor = 'local'
        process.conda = '/home/by2747/miniconda3/envs/PrimeG4'
    }
    slurm {
        process {
            conda = '/home/by2747/miniconda3/envs/PrimeG4'
            executor = 'slurm'
            withLabel: big_mem {
                cpus = 30
                memory = 200.GB
            }
            withLabel: lil_mem {
                cpus = 5
                memory = 30.GB
            }
            withLabel: small_mem {
                cpus = 1
                memory = 3.GB
            }
            withName: bowtie2_fastqc {
                cpus = 15
                memory = 50.GB
            }
            withName: bowtie2_fastqc_Aviti {
                cpus = 15
                memory = 50.GB
            }
            withName: bclconvert {
                cpus = 65
                memory = 200.GB
            }
            withName: sgdemux_demultiplex {
                cpus = 55
                memory = 200.GB
            }
        }      
    }
}
